body {
	font-family: cursive;
}
.top__bar {
	height: 50px;
	border-style: none;
	margin-bottom: 10px;
	padding-left: 50px;
}

.top__bar__btn {
	display: inline;
	border-style: none;
	border-radius: 5px;
	background: inherit;
	color: #b3b3b3;
	cursor: pointer;
	margin-right: 10%;
	outline-width: 0;
}
/* .bottom__bar {
	position: absolute;
	z-index: 1;
	background-color: white;
	height: 30px;
	padding: 5px;
	width: 250px;
	left: 10px;
	top: 460px;
	opacity: 0.8;
} */
#three__dots__button {
	background-color: white;
	cursor: pointer;
	color: #8f8f8f;
	border-style: none;
	outline-width: 0;
	font-size: 20px;
}
#contacts__btn {
	color: skyblue;
}
.contact__status__ball,
.favourite__status__ball {
	display: inline-block;
	margin: 20px;
	background-color: skyblue;
	border-radius: 50%;
	width: 6px;
	height: 6px;
	margin-top: 3px;
}

.contact__status__ball {
	margin-left: 29px;
	margin-right: 68px;
}

.search__input {
	border-style: solid;
	height: 28px;
	width: 95%;
	border-radius: 50px;
	border-width: 0.1em;
	border-color: #d6d6d6;
	margin-bottom: 25px;
	padding-left: 20px;
	padding-right: 20px;
}

.search__pane {
	padding-left: 15px;
	padding-right: 15px;
}

.search__input:focus {
	outline-width: 0;
}

.search__input::placeholder {
	color: #b3b3b3;
	text-align: center;
}

.input-icon {
	color: #b3b3b3;
	position: absolute;
	left: 58px;
	top: 77px;
	font-weight: 100;
}

.mockup {
	position: absolute;
	left: 300px;
	top: 8%;
}

.mockup img {
	height: 600px;
	width: 600px;
}


.app {
	width: 250px;
	height: 500px;
	position: absolute;
	left: 460px;
	top: 15%;
	z-index: 2;
}

.divider {
	margin-left: 4px;
	width: 270px;
	height: 0.01em;
	opacity: 0.3;
	background-color: #ebebeb;
}

.contacts__container {
	padding-left: 30px;
	padding-right: 13px;
	margin-left: 20px;
}
.contact__item {
	margin-bottom: 5px;
	display: flex;
	justify-content: space-between;
	cursor: pointer;
}

/*OGECHI SHOUD PREVENT IT FROM OVERFLOWING */
.contact__list {
	margin-left: 0;
	height: 300px;
	overflow-y: hidden;
}
.contact__list:hover {
	overflow-y: auto;
}
/*OGECHI SHOULD MAKE THE IMAGE ROUND*/
.contact__image {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
.contact__name {
	font-size: 12px;
	padding-top: 10px;
	margin-left: 10px;
	width: 80%;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: block;
	overflow: hidden;
}
.left__bar {
	position: absolute;
	top: 130px;
	left: 20px;
}
.left__bar i {
	font-size: 10px;
}
.left__bar__icon {
	text-align: center;
	background-color: #e3e3e3;
	width: 22px;
	padding-bottom: 2px;
	border-radius: 50%;
	margin-bottom: 21px;
}

.left__bar__letter__icon {
	text-align: center;
	background-color: #e3e3e3;
	width: 22px;
	padding-bottom: 2px;
	border-radius: 50%;
	margin-bottom: 21px;
}
.left__bar__icon__divider {
	position: absolute;
	height: 350px;
	width: 1px;
	left: 10px;
	z-index: -2;
	background-color: #e3e3e3;
}
.right__bar {
	width: 6px;
	height: 60px;
	position: absolute;
	left: 260px;
	font-size: 8px;
	top: 130px;
}
.profile__group {
	border-style: none;
	outline-width: 0;
	background-color: white;
	font-family: cursive;
	margin-bottom: 20px;
	cursor: pointer;
}
#active {
	color: skyblue;
}
.right__bar a {
	color: #bdbfbf;
	text-decoration: none;
	font-weight: bold;
}
.favourites__container {
	padding-left: 13px;
	padding-right: 13px;
	margin-left: 20px;
}

.footer {
	opacity: 0.8;
	background-color: white;
}

.btn-left {
	left: 0.4em;
	position: absolute;
	bottom: 0.10em;
	font-size: 15px;
	border-radius: 100%;	
}

.icons li {
	margin-top: 3px;
	height: 7px;	
}	

.plus_bar {
	font-size: 16px;
	background-color: red;
	color: white;
	padding: 15px;
	border-radius: 50%;
	position: absolute;
	bottom: 0.2em;
	margin-left: 110px;
	width: 25px;
	height: 25px;
	border-style: none;
}

.plus_icon {
	position: absolute;
	left: 20px;
	font-weight: bold;
}

/* contact profile */

 


.contact_profile {
	position: absolute;
	top: -16px;
	background-color: white;
	font-size: 10px;
	width: 239px;
	height: 424px;
	padding: 60px 0px;
	padding-left: 10px;
	padding-right: 20px;
	margin-left: 5px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;


}

 .contact_info_details {
	 margin-top: 32px;
	 width: 230px;
	 padding-right: 10px;
	 padding-left: 10px;

 }

 .contact_name {
	background-image: linear-gradient(to bottom right, red, yellow);
	width: 270px;
	height: 200px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding-top: 50px;
	margin-top: -60px;
	margin-left: -10px;
	font-style: italic;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.contact_name h1 {
	font-size:300px;
	color: orangered;
	margin-top: -110px;
	margin-left: 60px;	
}

.contact_name_info {
	position: absolute;
	top:10em;
	font-size: 17px;
	margin-left: 50px;
	color: white;
}

#name_id {
	margin-left: 40px;
}

.favorite_bar {
	position: absolute;
	width: 43px;
	height: 43px;
	border-radius: 50%;
	background-color: white;
	color: rgb(161, 158, 158);
	text-align:center;
	font-size: 16px;
	margin-left: 98px;
	top:230px;
	box-shadow: 0px 0px 3px gray;
	
} 
.favorite_bar i {
	position: absolute;
	top:0.8em;
	left: 0.9em;
	
}
.group_user {
	margin-left: 20px;
	margin-top: 20px;
}

.phone_details,
.group_info,
.ringtone_info,
.telegram_details {
	display: flex;
	justify-content: space-between;
	font-size: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.phone_details {
	margin-top: 45px;
}

.group_info i,
.ringtone_info i,
.phone_details i {
	color: orangered;
}

.chevron_icon_right {
	border-radius: 50%;
	background-color: white;
	border-style: solid;
	border-width: 0.1em;
	color:#b3b3b3;
}
/* refactor by ifeanyi 348-354,operation should be removed */
/* .phone_details span {
	display: inline-block;
	marg
in: 10px;
	font-size: 12px;
} */

 .align_left {
	text-align: left;
	width: 70%;
	margin-top: 5px;
}

.group_user {
	text-align: left;
	margin-left: -1px;
	color:rgb(148, 137, 137);
}

.telegram_details i{
	color: blue;
}

.telegram_left{
	width: 85%;
	text-align: left;
}
.group_button_bar {
font-size: 20px;
display: flex;
justify-content: space-between;
margin-top: 40px;
}

#ringtone_info_btn_icon,
#group_info_btn_icon {
	color: #b3b3b3;
	outline-width: 0;
	outline-style: none;
	cursor: pointer;

}

