body {
	font-family: cursive;
}

/* REFACTOR BY IFEANYI OPERATION: REMOVE */
.animate {
	width: 200px;
	height: 100px;
	margin-left: 200px;
	margin-top: 60px;
	color: skyblue;
	background-color: white;
	animation: fadin-out 0.4s ease-in-out;
	animation-fill-mode: both;
	animation-direction: alternate;
	box-shadow: 0px 0px 2px #8f8f8f;
	padding: 10px;
}
.fav__bottom__menu,
.contacts__bottom__menu {
	position: absolute;
	display: none;
}
.pop__up {
	left: 1px;
	width: 150px;
	margin-bottom: 4px;
	top: 280px;
	color: black;
	background-color: #ededed;
	animation: pop-up 0.2s ease-in-out;
	animation-fill-mode: forwards;
	animation-direction: alternate;
	box-shadow: 0px 0px 4px grey;
	padding: 10px;
	display: block;
	z-index: 10;
}

.fav__bottom__menu__option,
.contacts__bottom__menu {
	margin: 10px;
	font-size: 12px;
	cursor: pointer;
}
.confirm__animate {
	font-size: 12px;
	margin-top: 10px;
	color: black;
	font-weight: lighter;
}
.other__names {
	display: none;
}
.toggle {
	transform: rotateZ(180deg);
	transition: 0.8s;
}
@keyframes fadin-out {
	0% {
		opacity: 0.1;
	}
	50% {
		opacity: 0.6;
	}
	100% {
		opacity: 1;
	}
}
@keyframes pop-up {
	0% {
		opacity: 0.1;
		transform: scale(0.1);
	}
	30% {
		opacity: 0.5;
		transform: scale(0.5);
	}
	50% {
		opacity: 0.7;
		transform: scale(0.7);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}
.top__bar {
	height: 50px;
	border-style: none;
	margin-bottom: 10px;
	padding-left: 50px;
}

.top__bar__btn {
	display: inline;
	border-style: none;
	border-radius: 5px;
	background: inherit;
	color: #b3b3b3;
	cursor: pointer;
	margin-right: 10%;
	outline-width: 0;
	transition: 1s;
}
/* .bottom__bar {
	position: absolute;
	z-index: 1;
	background-color: white;
	height: 30px;
	padding: 5px;
	width: 250px;
	left: 10px;
	top: 460px;
	opacity: 0.8;
} */
#three__dots__button {
	background-color: white;
	cursor: pointer;
	color: #8f8f8f;
	border-style: none;
	outline-width: 0;
	font-size: 20px;
}
#contacts__btn {
	color: skyblue;
}
.contact__status__ball,
.favourite__status__ball {
	display: inline-block;
	margin: 20px;
	background-color: skyblue;
	border-radius: 50%;
	width: 6px;
	height: 6px;
	margin-top: 3px;
	transition: 1.2s;
}

.contact__status__ball {
	margin-left: 29px;
	margin-right: 68px;
}

.search__input {
	border-style: solid;
	height: 28px;
	width: 86%;
	margin-left: -4px;
	border-radius: 50px;
	border-width: 0.1em;
	border-color: #d6d6d6;
	margin-bottom: 25px;
	padding-left: 20px;
	padding-right: 20px;
}
#contact__view__component {
	transition: 2s;
}
.search__pane {
	padding-left: 15px;
	padding-right: 15px;
}

.search__input:focus {
	outline-width: 0;
}

.search__input::placeholder {
	color: #b3b3b3;
	text-align: center;
}

.input-icon {
	color: #b3b3b3;
	position: absolute;
	left: 53px;
	top: 77px;
	font-weight: 100;
	transition: 0.5s;
}
#select__contact__list {
	padding-left: 30px;
	padding-right: 13px;
	margin-left: -15px;
	padding-bottom: 50px;
}
#select__fav__contact__list {
	padding-left: 30px;
	padding-right: 13px;
	margin-left: -15px;
	padding-bottom: 50px;
}
.input-icon-select-search {
	color: #b3b3b3;
	position: absolute;
	left: 92px;
	top: 90px;
	font-weight: 100;
	transition: 0.5s;
}
.mockup {
	position: absolute;
	left: 300px;
	top: 8%;
}

.mockup img {
	height: 600px;
	width: 600px;
}

.app {
	width: 268px;
	height: 540px;
	position: absolute;
	left: 466px;
	top: 89px;
	z-index: 2;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: white;
}

.divider {
	margin-left: 3px;
	width: 270px;
	height: 0.01em;
	opacity: 0.3;
	background-color: #ebebeb;
}
[favourite-contact-id] {
	cursor: pointer;
}
.contacts__container {
	padding-left: 30px;
	padding-right: 13px;
	margin-left: 20px;
}
.contact__item {
	margin-bottom: 5px;
	display: flex;
	justify-content: space-between;
	cursor: pointer;
}
.favourite__select__contact__item {
	margin-bottom: 5px;
	display: flex;
	justify-content: space-between;
	cursor: pointer;
}
.fav__list__contact__item {
	margin-bottom: 5px;
	margin-top: 5px;
	cursor: pointer;
}
.fav__list__contact__image {
	vertical-align: text-bottom;
}
.fav__list__contact__name {
	font-size: 12px;
}
.favourite__list {
	margin-left: 0;
	height: 380px;
	width: 230px;
	overflow-y: hidden;
	margin-bottom: 60px;
}
.favourite__list:hover {
	overflow-y: auto;
}
.select__contact__list {
	margin-left: 0;
	height: 300px;
	width: 209px;
	overflow-y: hidden;
}
.select__contact__list:hover {
	overflow-y: auto;
}
.select__fav__contact__list {
	margin-left: 0;
	height: 300px;
	width: 209px;
	overflow-y: hidden;
}
.select__fav__contact__list:hover {
	overflow-y: auto;
}
.fav__title {
	font-size: 12px;
	color: #b3b3b3;
}
.contact__list {
	margin-left: 0;
	height: 300px;
	overflow-y: hidden;
}
.contact__list:hover {
	overflow-y: auto;
}

.contact__image {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.contact__name {
	font-size: 12px;
	padding-top: 10px;
	margin-left: 10px;
	width: 80%;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: block;
	overflow: hidden;
}
.left__bar {
	position: absolute;
	top: 130px;
	left: 20px;
}
.left__bar i {
	font-size: 10px;
}
.left__bar__icon {
	text-align: center;
	background-color: #e3e3e3;
	width: 22px;
	padding-bottom: 2px;
	border-radius: 50%;
	margin-bottom: 21px;
}

.left__bar__letter__icon {
	text-align: center;
	background-color: #e3e3e3;
	width: 22px;
	padding-bottom: 2px;
	border-radius: 50%;
	margin-bottom: 21px;
}
.left__bar__icon__divider {
	position: absolute;
	height: 350px;
	width: 1px;
	left: 10px;
	z-index: -2;
	background-color: #e3e3e3;
}
.right__bar {
	width: 6px;
	height: 60px;
	position: absolute;
	left: 256px;
	font-size: 8px;
	top: 130px;
}
.profile__group {
	border-style: none;
	outline-width: 0;
	background-color: white;
	font-family: cursive;
	margin-bottom: 20px;
	cursor: pointer;
}
#active {
	color: skyblue;
}
.right__bar a {
	color: #bdbfbf;
	text-decoration: none;
	font-weight: bold;
}
.favourites__container {
	padding-left: 13px;
	padding-right: 13px;
	margin-left: 20px;
}

.favourites__footer {
	position: absolute;
	z-index: 1;
	background-color: white;
	height: 30px;
	padding: 5px;
	width: 250px;
	left: 10px;
	top: 480px;
	opacity: 0.8;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.contacts__footer {
	position: absolute;
	z-index: 1;
	background-color: white;
	height: 30px;
	padding: 5px;
	width: 250px;
	left: 10px;
	top: 495px;
	opacity: 0.5;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.favourite__select__footer,
.delete__select__footer {
	position: absolute;
	z-index: 1;
	background-color: white;
	height: 30px;
	padding: 5px;
	width: 250px;
	left: 10px;
	top: 495px;
	opacity: 0.8;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
#menu__bottom__btn,
#fav__menu__bottom__btn#contact__menu__bottom__btn {
	cursor: pointer;
}

.btn-left {
	left: -10px;
	position: absolute;
	bottom: 0.8em;
	font-size: 12px;
	border-radius: 100%;
}
.contacts-btn-left {
	left: -9px;
	position: absolute;
	bottom: 0.9em;
	font-size: 12px;
	border-radius: 100%;
}
.icons li {
	margin-top: 3px;
	height: 7px;
	cursor: pointer;
}
.plus_bar {
	font-size: 16px;
	background-color: red;
	color: white;
	padding: 15px;
	border-radius: 50%;
	position: absolute;
	bottom: 1em;
	left: 0.6em;
	margin-left: 90px;
	width: 25px;
	height: 25px;
	border-style: none;
	opacity: 1;
	z-index: 3;
	cursor: pointer;
	box-shadow: 0px 0px 7px grey;
}
.add__fav__bar {
	font-size: 16px;
	background-color: green;
	color: white;
	padding: 15px;
	border-radius: 50%;
	position: absolute;
	bottom: 0.2em;
	margin-left: 90px;
	width: 25px;
	height: 25px;
	border-style: none;
	opacity: 1;
	z-index: 2;
	cursor: pointer;
	box-shadow: 0px 0px 7px grey;
}
.select_bar {
	font-size: 16px;
	background-color: red;
	color: white;
	padding: 15px;
	border-radius: 50%;
	position: absolute;
	bottom: 1.2em;
	margin-left: 90px;
	width: 25px;
	height: 25px;
	border-style: none;
	opacity: 1;
	z-index: 3;
	cursor: pointer;
	box-shadow: 0px 0px 7px grey;
}
.select__favourite__bar {
	font-size: 16px;
	background-color: green;
	color: white;
	padding: 15px;
	border-radius: 50%;
	position: absolute;
	bottom: 0.6em;
	margin-left: 90px;
	width: 25px;
	height: 25px;
	border-style: none;
	opacity: 1;
	z-index: 3;
	cursor: pointer;
	box-shadow: 0px 0px 7px grey;
}

.trash_icon {
	position: absolute;
	left: 22px;
	font-weight: bold;
}
.check_icon {
	position: absolute;
	left: 21px;
	font-weight: bold;
}
.plus_icon {
	position: absolute;
	left: 21px;
	font-weight: bold;
}
.add_fav_icon {
	position: absolute;
	left: 21px;
	font-weight: bold;
}
.delete__contact__component {
	position: absolute;
	top: 0;
	left: 0;
	width: 268px;
	height: 540px;
	overflow: hidden;
	background-color: white;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	z-index: -1;
}
.select__favourite__contact__component {
	position: absolute;
	top: 0;
	left: 0;
	width: 268px;
	height: 540px;
	overflow: hidden;
	background-color: white;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	z-index: -1;
}
.delete__top__bar {
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
	padding: 10px;
}
.select__fav__top__bar {
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
	padding: 10px;
}
#all__checkbox {
	/* CUSTORMISE */
}
.selected__details {
	display: inline-block;
	width: 60%;
	text-align: center;
}
#back__delete__btn,
#return__to__fav__btn {
	background-color: white;
	border-style: none;
	outline-width: 0;
	cursor: pointer;
}
.edit__contact__component {
	position: absolute;
	top: 0;
	left: 0;
	width: 268px;
	height: 540px;
	overflow: hidden;
	background-color: white;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	z-index: -1;
}

/* contact profile */

.contact_profile {
	position: absolute;
	top: -4px;
	background-color: white;
	font-size: 10px;
	width: 238px;
	height: 424px;
	padding: 60px 0px;
	padding-left: 10px;
	padding-right: 20px;
	margin-left: -1px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 16px;
	border-top-left-radius: 16px;
}

.contact_info_details {
	margin-top: 32px;
	width: 230px;
	padding-right: 10px;
	padding-left: 10px;
}

.contact_name {
	background-image: linear-gradient(to bottom right, red, yellow);
	width: 270px;
	height: 200px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding-top: 50px;
	margin-top: -60px;
	margin-left: -10px;
	font-style: italic;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.navigate__back {
	position: absolute;
}
#back__from__information {
	border-style: none;
	background-color: inherit;
	outline-width: 0;
}
#nav__back {
	cursor: pointer;
	color: white;
}

.contact_name h1 {
	font-size: 300px;
	color: orangered;
	margin-top: -110px;
}
.contact_name {
	text-align: center;
}

.contact_name_info {
	position: absolute;
	margin-left: -10px;
	top: 10em;
	width: 100%;
	font-size: 17px;
	color: white;
	text-align: center;
}
#name_id #contact__info__email {
}

.favorite_bar {
	position: absolute;
	width: 43px;
	height: 43px;
	border-radius: 50%;
	background-color: white;
	color: rgb(161, 158, 158);
	text-align: center;
	font-size: 16px;
	margin-left: 98px;
	top: 230px;
	box-shadow: 0px 0px 3px gray;
}
.favorite_bar i {
	position: absolute;
	top: 0.8em;
	left: 0.9em;
}
.group_user {
	margin-left: 20px;
	margin-top: 20px;
}

.phone_details,
.group_info,
.ringtone_info,
.telegram_details {
	display: flex;
	justify-content: space-between;
	font-size: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.phone_details {
	margin-top: 45px;
}

.group_info i,
.ringtone_info i,
.phone_details i {
	color: orangered;
}

.chevron_icon_right {
	border-radius: 50%;
	background-color: white;
	border-style: solid;
	border-width: 0.1em;
	color: #b3b3b3;
}
/* refactor by ifeanyi 348-354,operation should be removed */
/* .phone_details span {
	display: inline-block;
	marg
in: 10px;
	font-size: 12px;
} */

.align_left {
	text-align: left;
	width: 70%;
	margin-top: 5px;
}

.group_user {
	text-align: left;
	margin-left: -1px;
	color: rgb(148, 137, 137);
}

.telegram_details i {
	color: blue;
}

.telegram_left {
	width: 85%;
	text-align: left;
}
.group_button_bar {
	font-size: 20px;
	display: flex;
	justify-content: space-between;
	margin-top: 40px;
}

#ringtone_info_btn_icon,
#group_info_btn_icon {
	color: #b3b3b3;
	outline-width: 0;
	outline-style: none;
	cursor: pointer;
}
.edit__contact__component:hover {
	overflow-y: auto;
}
#cancel__image {
	display: inline-block;
	margin-left: 40%;
	color: red;
	cursor: pointer;
}
.cancel__btn,
.save__contact__btn {
	display: inline;
	border-style: none;
	border-radius: 5px;
	background: inherit;
	color: #b3b3b3;
	cursor: pointer;
	margin-right: 10%;
	outline-width: 0;
	font-size: 16px;
}
.date {
	border-bottom-style: solid !important;
	padding-bottom: 0px !important;
}
.birthday {
	font-size: 12px;
	margin-top: 16px;
}
.birthday__item {
	width: 60px;
}
.edit__divider {
	margin-left: -5px;
	width: 267px;
	height: 0.01em;
	opacity: 0.3;
	background-color: #ebebeb;
}
.select__divider {
	margin-left: -5px;
	width: 267px;
	height: 0.01em;
	opacity: 0.3;
	background-color: #ebebeb;
}
.edit__top__bar {
	margin-top: 10px;
	padding-left: 13px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}
.info__group__name {
	font-size: 12px;
	margin-top: 16px;
	text-align: left;
}

.contact__image__pane {
	padding-left: 69px;
	margin-bottom: 20px;
}
.contact__image {
	width: 115px;
	height: 100px;
	cursor: pointer;
}
.info__item {
	display: flex;
	justify-content: space-between;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 1px;
	box-shadow: 0px 1px 1px #dedede;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	height: 50px;
	border-top-style: solid;
	border-top-width: 0.01em;
	border-top-color: #ededed;
}
.add__item__btn,
.delete__contact__btn {
	margin-left: 10px;
	margin-right: 10px;
}
#add_new_item {
	width: 100%;
	height: 40px;
	background-color: grey;
	border-style: none;
	color: white;
	color: white;
	text-align: center;
	font-family: cursive;
	cursor: pointer;
	outline-width: 0;
}
#delete__contact {
	width: 100%;
	height: 40px;
	background-color: red;
	border-style: none;
	color: white;
	text-align: center;
	font-family: cursive;
	margin-bottom: 50px;
	cursor: pointer;
	outline-width: 0;
}
/* ASK IFEANYI TO REFACTOR LINE 377-388 . OPERATION:REMOVE*/
.info__input__icon,
.info__input__icon__2 {
	display: inline-block;
	margin-top: 15px;
	background-color: grey;
	color: white;
	font-size: 9px;
	border-radius: 50%;
	width: 15px;
	height: 15px;
}
.info__input__icon__delete {
	display: inline-block;
	margin-top: 15px;
	background-color: red;
	border-style: none;
	color: white;
	font-size: 9px;
	border-radius: 50%;
	width: 15px;
	height: 15px;
	cursor: pointer;
	outline-width: 0;
	padding: 0.1em;
}
.image__menu {
	position: absolute;
	left: 20px;
	margin-right: 20px;
	top: 60px;
	width: 220px;
	height: 90px;
	background-color: white;
	padding: 10px;
	box-shadow: 0px 0px 5px #c2c2c2;
}
#take__photo__btn,
#choose__image__btn {
	background: inherit;
	border-style: none;
	color: grey;
	font-family: cursive;
	cursor: pointer;
	outline-width: 0;
}
#profile__pic__input {
	opacity: 0;
}
.info__input__icon__name,
.info__input__icon__email {
	display: inline-block;
	margin-top: 15px;
	background-color: grey;
	border-style: none;
	color: white;
	font-size: 9px;
	border-radius: 50%;
	width: 15px;
	height: 15px;
	cursor: pointer;
	outline-width: 0;
	padding: 0.1em;
}

/* ASK IFEANYI TO REFACTOR LINES 419 TO 431 OPERATION:REMOVE */
.info__input__icon i {
	position: absolute;
	font-weight: 50;
	left: 24.2em;
	top: 196px;
}
.info__input__icon__2 i {
	position: absolute;
	font-weight: 50;
	left: 24.2em;
	top: 257px;
}
#mobile {
	width: 40%;
}
#work,
#home,
#assistant {
	width: 65%;
}
.info__item__label {
	font-size: 12px;
	margin-top: 17px;
}
.info__input__item {
	border-style: none;
	outline-width: 0px;
	width: 90%;
	vertical-align: text-top;
}
.info__input__item::placeholder {
	font-family: cursive;
	font-size: 12px;
	color: #c4c4c4;
}
.others {
	box-shadow: none;
	padding-left: 10px;
	padding-right: 10px;
}
.clear__margin {
	margin-bottom: 0;
}
.input__item__group {
	box-shadow: 0px 1px 1px #dedede;
	margin-left: 10px;
	margin-right: 10px;
}
/*------------------------SCROLL BAR STYLES------------------------*/
.contact__list::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	background-color: #f5f5f5;
}

.contact__list::-webkit-scrollbar {
	width: 3px;
	background-color: #f5f5f5;
	border-radius: 10px;
}

.contact__list::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
	background-color: #555;
}
.select__contact__list::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	background-color: #f5f5f5;
}

.select__contact__list::-webkit-scrollbar {
	width: 3px;
	background-color: #f5f5f5;
	border-radius: 10px;
}

.select__contact__list::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
	background-color: #555;
}
.favourite__list::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	background-color: #f5f5f5;
}

.favourite__list::-webkit-scrollbar {
	width: 3px;
	background-color: #f5f5f5;
	border-radius: 10px;
}

.favourite__list::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
	background-color: #555;
}
.select__fav__contact__list::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	background-color: #f5f5f5;
}

.select__fav__contact__list::-webkit-scrollbar {
	width: 3px;
	background-color: #f5f5f5;
	border-radius: 10px;
}

.select__fav__contact__list::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
	background-color: #555;
}
.edit__contact__component::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	background-color: #f5f5f5;
}

.edit__contact__component::-webkit-scrollbar {
	width: 3px;
	background-color: #f5f5f5;
	border-radius: 10px;
}

.edit__contact__component:-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
	background-color: #555;
}
